# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive / credentials
*.pem
*.key
*.json
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
